@model SolidWithBestPrqactices.ViewModels.HomeIndexViewModel;
@{
    ViewBag.Title = "Home page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>

    <h1>All Restaurants</h1>

    <table>
        @foreach (var restaurant in Model.Restaurants)
        {
        <tr>
            <td>@restaurant.Id </td>
            <td>@restaurant.Name </td>
            <td>@restaurant.Cuisine </td>
            <td >
                <a asp-action="Details" asp-route-id="@restaurant.Id">content</a>
            </td>
        </tr>
        }
    </table>
    <a asp-action="Create">Add Restaurants</a>
   



  
</div>

@section footer
    {
    @Model.CurrentMessage
} 